{% extends 'base.html' %}
{% block page_content %}
    <div class="page-single">
        <div class="container">

            <!-- <div class="post-title"> <span>&emsp;About Me&emsp;</span> </div> -->
            <div class="post-content row">
                <div class="col-md-8 text-content">
                    <h3>About this site</h3>
                    <p>I have wanted to build a personal site for a long time, but for some reason it didn't come true. Now I plan to share my favorite three things to public, data analysis, military forces(Navy espesially) and football. Life is not easy and work does
                        not always go well, but I wish I will love what I treasure and do what I like forever. If you enter this site, we can be frends and share our happiness and sufferings. Good luck!
                    </p>
                    <h3>What I like</h3>
                    <p>Fistly, I'm a fans of AC Milan Club. My idol is Filippo Inzaghi, the Super Pippo. Anyway, I believe Milan will recover every lost glory by their effort although their current situation is not good. Football can always bring me passion, dream and
                        freedom, which is essensial for the youth, at least for me. Football makes me believe that everything is possible and rule is part of life. No matter how tough the life is, just enjoy, the football</p>
                    <h3>What am I good at</h3>
                    <p>Despite my major is a liberal arts, I'm interested in computer programming. Python and R is what I'm learning recently, by the way ,this site is built by Flask. Now, I'm working for improve the employers work efficiency and the managers'
                        management by data analysis. Excel is my main tools, Tableau and Power BI is optional.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
