{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}">
{% endblock %}
{% block page_content %}
    <div class="row">
        <main class="col-md-8 main-content">
            <article class="post well single-post">
                <div class="post-head">
                    <h3 class="post-title">
                        {{ post.title }}
                        <br>
                        <small>{{ post.subtitle }}</small>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="{{ url_for('main.profile',author_id=post.author_id) }}" target="_blank">{{ g.author.query.get(post.author_id).name }}</a>
                        </span>
                        <span class="post-read">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {{ post.views }}人看过
                        </span>
                        <span class="post-date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {{ moment(post.create_time).format('LLL') }}
                        </span>
                        <span class="post-tags">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <a href="{{ url_for('main.tags',tag_id=post.tag_id) }}" class="label label-default">{{ g.tags.query.get(post.tag_id).name }}</a>
                        </span>

                    </div>
                </div>
                <!-- <div class="featured-media"><a href="/post/laravel-5-5-will-be-the-next-lts-release/"><img src="http://image.golaravel.com/b/60/0540baaed781628b02aac992d1c8f.png" alt="Laravel 5.5 将是下一个 LTS 版本，预计 7/8 月份发布"></a></div> -->
                <div class="abstract">
                    {{ post.abstract }}
                </div>
                <div class="post-content">{{ post.content_html |safe }}</div>
                <footer class="post-footer">
                    <div class="social-interactive pull-left">
                        <ul>
                            <span>您认为:</span>
                            <li id="post-like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                <span class="like">{{ post.likes }}</span>
                            </li>
                            <li id="post-dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                <span class="dislike">{{ post.dislikes }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="social-share pull-right">
                        <ul>
                            <span>分享:</span>
                            <li>
                                <a href="http://service.weibo.com/share/share.php?title={{ post.title }}&url={{ request.base_url }}">
                                    <i class="fa fa-weibo" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-weixin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </footer>
                <div class="clearfix"></div>
            </article>
        </main>
        <aside class="col-md-4 sidebar">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span>分&nbsp;&nbsp;类</span>
                    </div>
                </div>
                <div class="list-group">
                    {% for tag in g.tags.query.all() %}
                        {% set count = g.post.query.filter_by(tag_id = tag.id).count() %}
                        {% if count > 0 %}
                            <a href="{{ url_for('main.tags',tag_id=tag.id) }}" class="list-group-item">
                                {{ tag.name }}
                                <span class="badge">{{ count }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span>最近的文章</span>
                    </div>
                </div>
                <div class="list-group">
                    {% for late in g.latest %}
                        <a href="{{ url_for('main.post',article_name=late.title) }}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{late.title}}
                            </h4>
                            <p class="list-group-item-text">{{ late.abstract | striptags | escape |  truncate(50) }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $("#post-like").click(function () {
            var url = '{{ url_for("main.make_likes",post_id=post.id) }}'
            $(">i", this).toggleClass("fa-thumbs-up");
            var classname = $(">i", this).attr("class");
            var likes = parseInt($('>span', this).text());;
            if (classname == "fa fa-thumbs-o-up fa-thumbs-up") {
                likes += 1;
                $('>span', this).text(likes);

            } else if (classname == "fa fa-thumbs-o-up") {
                likes -= 1;
                $('>span', this).text(likes);
            }
            var data_dic = {
                'like': likes
            };
            $.ajax({
                async: true,
                type: 'POST',
                url: url,
                data: JSON.stringify(data_dic),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json'
            });
        });
        $("#post-dislike").click(function () {
            var url = '{{ url_for("main.make_dislikes",post_id=post.id) }}'
            $(">i", this).toggleClass("fa-thumbs-down");
            var classname = $(">i", this).attr("class");
            var dislikes = parseInt($('>span', this).text());;
            if (classname == "fa fa-thumbs-o-down fa-thumbs-down") {
                dislikes += 1;
                $('>span', this).text(dislikes);

            } else if (classname == "fa fa-thumbs-o-down") {
                dislikes -= 1;
                $('>span', this).text(dislikes);
            }
            var data_dic = {
                'dislike': dislikes
            };
            $.ajax({
                async: true,
                type: 'POST',
                url: url,
                data: JSON.stringify(data_dic),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json'
            });
        });
    </script>
{% endblock %}